a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-login {
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 96px;
  min-height: 44px;
  line-height: 44px;
  margin-top: 0px;
  margin-left: 0px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(250, 250, 250);
  opacity: 1;
  cursor: pointer;
  background: rgb(68, 199, 244);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 199, 244);
  border-image: initial;
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s ease 0s, background 0.25s ease 0s;
}

.nav-logout {
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 96px;
  min-height: 44px;
  line-height: 44px;
  margin-top: 0px;
  margin-left: 0px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(250, 250, 250);
  opacity: 1;
  cursor: pointer;
  background: rgb(244, 68, 68);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(244, 68, 68);
  border-image: initial;
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s ease 0s, background 0.25s ease 0s;
}
