<h1 id="tableLabel">User Details</h1>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>ID</th>
      <th>UserName</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.id }}</td>
      <td>{{ forecast.userName }}</td>
      <td>{{ forecast.password }}</td>
      <td>
        <button type="button" (click)="GetUserDetailById(item.id)">Edit</button>
      </td>
      <td>
        <button type="button" (click)="DeleteUserDetail(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<!--<form [formGroup]="UserDetailForm" (ngSubmit)="OnSubmit()">
  <div>
    <label>
      UserName
      <input type="text" formControlName="UserName">
    </label>
  </div>
  <div style="margin-top: 20px">
    <label>
      Password
      <input type="text" formControlName="Password">
    </label>
  </div>
  <div>
    <button type="submit" [disabled]="!UserDetailForm.valid">Save</button>
  </div>
</form>
<table>
  <tr>
    <th>
      UserName
    </th>
    <th>
      Password
    </th>
    <th>
      Update Record
    </th>
    <th>
      Delete Record
    </th>
  </tr>
  <tr *ngFor="let item of forecasts">
    <td>
      {{item.userName}}
    </td>
    <td>
      {{item.password}}
    </td>
    <td>
      <button type="button" (click)="GetUserDetailById(item.id)">Edit</button>
    </td>
    <td>
      <button type="button" (click)="DeleteUserDetail(item.id)">Delete</button>
    </td>
  </tr>
</table>-->

