<form [formGroup]="UserDetailForm" (ngSubmit)="OnSubmit()">
  <div>
    <label>
      UserName
      <input type="text" formControlName="UserName">
    </label>
  </div>
  <div style="margin-top: 20px">
    <label>
      Password
      <input type="text" formControlName="Password">
    </label>
  </div>
  <div>
    <button type="submit" [disabled]="!UserDetailForm.valid">Save</button>
  </div>
</form>
<table>
  <tr>
    <th>
      UserName
    </th>
    <th>
      Password
    </th>
    <th>
      Update Record
    </th>
    <th>
      Delete Record
    </th>
  </tr>
  <tr *ngFor="let item of UserDetailList">
    <td>
      {{item.UserName}}
    </td>
    <td>
      {{item.Password}}
    </td>
    <td>
      <button type="button" (click)="GetUserDetailById(item.ID)">Edit</button>
    </td>
    <td>
      <button type="button" (click)="DeleteUserDetail(item.ID)">Delete</button>
    </td>
  </tr>
</table>
